html {
    background-color: #DDC3D0;
    font-family: signika;
}

.href {
    color: black;

}

p {
    font-family: signika;
}

.nav-link, .navbar-brand {
    color: black;

}

.href:hover, .nav-link:hover, .navbar-brand:hover {
    text-decoration: none;
    color: black;

}

h1 {
    font-family: source sans pro;
}

h2 {
    font-family: cairo;
}

.navbar {
    background-color: #DDC3D0;
}

.breadcrumb {
    background-color: white;
}

.img0 {
    position: relative;
    margin: 1% 0 0 0;
    filter: grayscale(20%);

}

.recherche {
    position: absolute;
    top: 80%;
    left: 8%;      
    padding: 1% 1%;
    background-color: white;
}

.btnconnect {
    background-color: #857E61;
    color: white;
}

.btnevent {
    background-color: #B7A196;
    color: white;
}

#premiereligne {
    margin: 10% 0;
}

.img1 {
    width: 300px;
    border-radius: 100%;
    filter: grayscale(50%);
}

.img2 {
    width: 200px;
    border-radius: 100%;
    padding: 5% 0 0 0;
    filter: grayscale(60%);
    
}

.img3 {
    width: 100px;
}

#reve {
    text-align: center;
    padding: 5% 0;
    background-color: #DDC3D0;

}

.btn {
    border: 1px solid;
}

#noustrouver {
    background-color: #B7A196;
    text-align: center;
    padding: 5% 0;
    margin: 10% 0;
    
}

.iframe {
    box-shadow: 5px 5px 5px grey;

}


.footer {
    padding: 5% 0;
    color: #857E61;

}

#confiance {
    padding: 5% 0;
}


@media screen and (min-width: 768px) {
    .card {
        box-shadow: 10px 5px 5px grey;
        border: 1px solid;  
    }
    
    .footer {
        border-radius: 10% 10% 0 0;
    }

    .iframe:hover {
        box-shadow: 20px 20px 20px grey;
    }

    .header {
        border-radius: 0 0 10% 10%;
    }

    #reve {
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
    }

    #noustrouver {
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
    }

    .href:hover, .nav-link:hover, .navbar-brand:hover {
        text-decoration: none;
        color: #B7A196;
    }

    .img6 {
        width: 50px;
        position: fixed;
        bottom: 30px;
        right: 10px;
    }
    
}

table {
    border: 2px solid;
    border-collapse: collapse;
    padding: 10px;
    margin: 5% 0;
    text-align: center;
}

td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

