html {
    background-color: #DDC3D0;
    font-family: signika;
}

.href {
    color: black;

}

.href:hover {
    text-decoration: none;
    color: black;
}

.navbar {
    border-radius: 0 0 10% 10%;

}

.nav-link, .navbar-brand {
    color: black;

}

h1 {
    font-family: source sans pro;
}

h2 {
    font-family: cairo;
}

.navbar {
    background-color: #DDC3D0;
}

#premiereligne {
    margin: 5% 0;
}

.img1 {
    width: 300px;
    border-radius: 100%;
    filter: grayscale(50%);
}

.img2 {
    width: 200px;
    border-radius: 100%;
    padding: 5% 0 0 0;
    filter: grayscale(60%);
}

.img3 {
    width: 100px;
}

#reve {
    text-align: center;
    padding: 5% 0;
    background-color: #DDC3D0;
    border-radius: 10%;
    box-shadow: 5px 5px 5px grey;

}


.card {
    box-shadow: 10px 5px 5px grey;
    border: 1px solid;  
      

}

.btn {
    border: 1px solid;
}

#noustrouver {
    background-color: #B7A196;
    text-align: center;
    padding: 5% 0;
    border-radius: 10%;
    box-shadow: 5px 5px 5px grey;


}

.img6 {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}