html {
    background-color: #DDC3D0;
    font-family: signika;
}

.href {
    color: black;

}

p {
    font-family: signika;
}

.href:hover, .nav-link:hover, .navbar-brand:hover {
    text-decoration: none;
    color: #B7A196;
}

.nav-link, .navbar-brand {
    color: black;

}

h1 {
    font-family: source sans pro;
}

h2 {
    font-family: cairo;
}

.navbar {
    background-color: #DDC3D0;
}

#premiereligne {
    margin: 5% 0;
}

.img1 {
    width: 300px;
    border-radius: 100%;
    filter: grayscale(50%);
}

.img2 {
    width: 200px;
    border-radius: 100%;
    padding: 5% 0 0 0;
    filter: grayscale(60%);
    
}

.img3 {
    width: 100px;
}

#reve {
    text-align: center;
    padding: 5% 0;
    background-color: #DDC3D0;

}

#card {
    margin: 5% 0;
}


.btn {
    border: 1px solid;
}

#noustrouver {
    background-color: #B7A196;
    text-align: center;
    padding: 5% 0;
    
}

.iframe {
    box-shadow: 5px 5px 5px grey;

}


.img6 {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.footer {
    padding: 5% 0;
    color: #857E61;

}

@media screen and (min-width: 768px) {
    .card {
        box-shadow: 10px 5px 5px grey;
        border: 1px solid;  
    }
    
    .footer {
        border-radius: 10% 10% 0 0;
    }

    .iframe:hover {
        box-shadow: 20px 20px 20px grey;
    }

    .header {
        border-radius: 0 0 10% 10%;
    }

    #reve {
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
    }

    #noustrouver {
        border-radius: 10%;
        box-shadow: 5px 5px 5px grey;
    }
    
}

table {
    border: 2px solid;
    border-collapse: collapse;
    padding: 10px;
    margin: 5% 0;
    text-align: center;
}

td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

