html {
    background-color: #DDC3D0;
    font-family: signika;
}

.nav-link, .navbar-brand {
    color: black;
}

h1 {
    font-family: source sans pro;
}

h2 {
    font-family: cairo;
}

.navbar {
    background-color: #DDC3D0;
}

#nous {
    padding: 5% 0;
    margin: 5% 0 0 0;
    background-color: #B7A196;
    text-align: center;
}

.img1 {
    width: 200px;
    border-radius: 100px;
    filter: grayscale(50%);
}

.img2 {
    width: 200px;
    border-radius: 100%;
    padding: 5% 0 0 0;
    filter: grayscale(60%);
}

#reve {
    text-align: center;
    padding: 5% 0;
    background-color: #DDC3D0;
}